.vs
.vscode
__pycache__
.cache
.mypy_cache
.ruff_cache

*.svg
*.dot
*.bak
CMakeSettings.json
imgui.ini

/scripts/pyimgui.pyi
/res/
/pyxpg
/_gen

/out/
/build/
/build-*

/install
/install-deploy
/install-debug

/backup
*.sln

/venv
/python-build
/wheel*
/pyxpg-backup

/misc
/ext/thsvs
/diagrams
/today.txt
/MoltenVK

*.egg-info
*.tar

lint.bat
