.vs
.vscode
__pycache__
.cache

*.svg
*.dot
*.bak
CMakeSettings.json
imgui.ini

/scripts/pyimgui.pyi
/res/
/pyxpg
/_gen

/out/
/build/
/build-release
/build-debug
/build-deploy
/build-test
/build-slang
/build-msvc
/build-python

/install
/install-deploy
/install-debug

/backup
*.sln

/venv
/python-build
/wheel*
/pyxpg-backup

/misc
/ext/thsvs
/diagrams
/today.txt

*.egg-info