.vs
.vscode
__pycache__

*.svg
*.dot
*.bak
CMakeSettings.json
imgui.ini

/scripts/pyimgui.pyi
/res/
/pyxpg
/_gen

/out/
/build/
/build-release
/build-debug
/build-deploy

/install
/install-deploy

/backup
*.sln

/venv
/python-build
/wheel*