[submodule "ext/volk"]
	path = ext/volk
	url = https://github.com/zeux/volk.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/VulkanMemoryAllocator"]
	path = ext/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ext/atomic_queue"]
	path = ext/atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git
[submodule "ext/implot"]
	path = ext/implot
	url = https://github.com/epezent/implot.git
[submodule "ext/nanobind"]
	path = ext/nanobind
	url = https://github.com/wjakob/nanobind.git
[submodule "ext/zstd"]
	path = ext/zstd
	url = https://github.com/facebook/zstd.git
[submodule "ext/dear_bindings"]
	path = ext/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
[submodule "ext/slang"]
	path = ext/slang
	url = https://github.com/shader-slang/slang.git
[submodule "ext/Vulkan-Headers"]
	path = ext/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "ext/Vulkan-Utility-Libraries"]
	path = ext/Vulkan-Utility-Libraries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
[submodule "ext/glslang"]
	path = ext/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ext/SPIRV-Tools"]
	path = ext/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "ext/SPIRV-Headers"]
	path = ext/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "ext/SPIRV-Cross"]
	path = ext/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
