name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2025]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: none

      - name: Build (linux)
        if: runner.os != 'Windows'
        run: |
          git submodule init
          git config submodule.ext/slang.update none
          git submodule update --recursive
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Debug -DXPG_BUILD_SLANG=0 ..
          cmake --build . -j

      - name: Build (windows)
        if: runner.os == 'Windows'
        run: |
          git submodule init
          git config submodule.ext/slang.update none
          git submodule update --recursive
          mkdir build
          cd build
          cmake -DXPG_BUILD_SLANG=0 ..
          cmake --build . --config=Debug -j
  
